@tailwind base;
@tailwind components;
@tailwind utilities;



.font-fredoka {
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
}


@keyframes floatvertical {
     0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}




.group-card{
    transition: transform ,opacity;
      transition-duration: 1s;
     transition-timing-function: ease-in-out;
      transition-delay: 0.3s, 0.2s; 
      z-index: 5;       
}

.group-card:hover {
     transform: translateX(-104%); 
     opacity: 0;       
     transition-duration: 0.4s;      
     transition-delay: 0.3s 0.3s;    
     z-index: 2;
}

.horizontalanimation{
    animation: floathorizontal 1.5s ease-in-out infinite ;
    display: inline-block;
}

@keyframes floathorizontal {
  0%, 100% { transform: translateX(0px); }
    50% { transform: translateX(-5px); }
}


